#logos #inf {
  float: left;
}

#logos #ppar {
  float: right;
}

#challenges {
  vertical-align: middle;
}

/*
 * Only for informatics background
 */
body {
  background-image: url("images/inf-background.jpg");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}

/*
 * Only for informatics background
 */
.reveal .slides {
  //margin-top: 10%;
  margin-top: 5%;
  margin-left: 5%;
}

.reveal section img {
  box-shadow: none;
  border-style: none;
}

.code {
  margin: 5pt;
}

.left {
  float: left
}

.right {
  float: right
}

.center {
  float: center
}

.center-vert {
  vertical-align: middle;
}

.left-text {
  float: left;
  text-align: left;
}

.right-text {
  float: right;
  text-align: right;
}

.center-text {
  float: center;
  text-align: center;
}

.left-col {
  float: left;
  width:50%
}

.left-two-thirds {
  float: left;
  width:66%
}

.right-col {
  float: right;
  width:50%
}

.right-one-third {
  float: right;
  width: 33%;
}

.bottom {
  float: bottom;
  text-align: bottom;
}

/* 
 * Fonts
 */
.reveal medium {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.2em;
  vertical-align: top; 
}

.redtext {
  color: red;
}
